body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
}
figure {
  margin: 0rem;
  padding: 0rem;
}
ul,
ul li {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  gap: 1.25rem;
}
.bottom {
  background-color: #fff;
  padding: 0.9rem 1.875rem;
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 0.25rem;
  border: solid 0.1rem transparent;
}
.navegador {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem;
}
h1 {
  margin: auto;
  width: fit-content;
}
.inf1 {
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: black;
  text-align: end;
  width: 31.25rem;
  padding: 3rem;
  gap: 1.25rem;
  box-sizing: border-box;
  position: relative;
}
.conteiner1 {
  display: flex;
  justify-content: center;
}
.bike {
  width: 31.25rem;
  flex-grow: 1;
}

.inf1 h2,
.inf1 p,
.inf1 a,
.inf1 li {
  margin: 0;
}
.vermais {
  background-color: #e21;
  color: #fff;
  padding: 0.9rem 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
  width: fit-content;
}
.imagem {
  display: flex;
  width: 31.25rem;
  font-size: clamp(2rem, 4rem, 4rem);
  color: #c6c6c6;
  text-transform: uppercase;
  align-items: center;
  background-image: url(img/onda.svg);
}

.inf2 {
  width: 31.25rem;
  background-color: #fff;
  padding: 3rem;
  box-sizing: border-box;
}
.imagens {
  display: flex;
  align-items: start;
  margin: 0rem;
  gap: 1.2rem;
  padding: 1rem;
}
.inf2 h2,
.inf2 p,
.inf2 a,
.inf2 li {
  margin: 0;
  margin-bottom: 1.2rem;
}
.rodape {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 2rem;
  padding: 2.5rem;
  text-align: center;
  background-color: #fff;
  color: black;
}
ul li::nth-child(odd) {
  background-color: #f7f7f7;
}
.li {
  padding: 0rem;
  margin: 0rem;
  display: flex;
  justify-items: start;
}
.lista {
  display: flex;
}

.bottom:hover {
  border: solid 0.01rem #e21;
}
.vermais:hover {
  background-color: #900;
}
.li:nth-child(odd) {
  background-color: #f7f7f7;
}
.li:hover {
  border-left: solid 0.25rem #e21;
}
.inf1::after {
  background-color: #e21;
  content: "";
  display: block;
  height: 0.25rem;
  width: 4rem;
  position: absolute;
  top: 0.5rem;
  left: calc(100% - 2rem);
}
footer {
  padding-bottom: 6rem;
}
@media (max-width: 992px) {
  .conteiner1 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 100%;
  }
  .bike {
    width: 100%;
  }
  .inf1::after {
    display: none;
  }
  .inf1 {
    width: 100%;
    font-size: 100%;
  }
  .imagem {
    width: 100%;

    font-size: 100%;
  }
  .inf2 {
    width: 100%;
    padding: 2px;
  }
  .rodape {
    width: 100%;
    align-items: center;
    font-size: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
@media (max-width: 600px) {
  .lista {
    width: 85%;
    align-content: center;
    gap: 20px;
    flex-direction: column;
    font-size: 100%;
  }
}
